on:
  push:
    branches:
      - main

env:
  CLOUD_RUN_PROJECT_ID: ${{ secrets.CLOUD_RUN_PROJECT_NAME }}
  CLOUD_RUN_REGION: europe-west9
  REPO_NAME: nextjs-gala-repo

jobs:
  build-and-deploy:
    name: Setup, Build, and Deploy
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        project_id: ${{ secrets.CLOUD_RUN_PROJECT_NAME }}
        service_account_key: ${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT }}
        service_account_email: ${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT_EMAIL }}

    - name: Enable the necessary APIs
      run: |-
        gcloud services enable run.googleapis.com

    - name: Configure Docker for Artifact Registry
      run: |-
        gcloud auth configure-docker europe-west9-docker.pkg.dev

    - name: Build and tag image
      run: |-
        docker build . --tag "europe-west9-docker.pkg.dev/${CLOUD_RUN_PROJECT_ID}/${REPO_NAME}/${REPO_NAME}:${GITHUB_SHA}"

    - name: Push image to Artifact Registry
      run: |-
        docker push "europe-west9-docker.pkg.dev/${CLOUD_RUN_PROJECT_ID}/${REPO_NAME}/${REPO_NAME}:${GITHUB_SHA}"

    - name: Deploy
      run: |-
        gcloud run deploy $REPO_NAME \
          --image "europe-west9-docker.pkg.dev/${CLOUD_RUN_PROJECT_ID}/${REPO_NAME}/${REPO_NAME}:${GITHUB_SHA}" \
          --project $CLOUD_RUN_PROJECT_ID \
          --platform managed \
          --region $CLOUD_RUN_REGION \
          --allow-unauthenticated \
          --quiet
